@using KHCrafts.ViewModel
@{
    ViewData["Title"] = "Order Confirmation";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Your Application Name</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .star-rating {
            direction: rtl;
            font-size: 2em;
            unicode-bidi: bidi-override;
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

            .star-rating input {
                display: none;
            }

            .star-rating label {
                color: #ddd;
                cursor: pointer;
            }

                .star-rating input:checked ~ label,
                .star-rating label:hover,
                .star-rating label:hover ~ label {
                    color: #f5b301;
                }
    </style>
</head>
<body>
    <div class="container text-center">
        <h2>Order Confirmation</h2>
        <p>@ViewBag.Message</p>
        <a href="/" class="btn btn-primary">Continue Shopping</a>



        <div class="star-rating">
            <input type="radio" id="5-stars" name="rating" value="5" />
            <label for="5-stars" class="star">&#9733;</label>
            <input type="radio" id="4-stars" name="rating" value="4" />
            <label for="4-stars" class="star">&#9733;</label>
            <input type="radio" id="3-stars" name="rating" value="3" />
            <label for="3-stars" class="star">&#9733;</label>
            <input type="radio" id="2-stars" name="rating" value="2" />
            <label for="2-stars" class="star">&#9733;</label>
            <input type="radio" id="1-stars" name="rating" value="1" />
            <label for="1-stars" class="star">&#9733;</label>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.star-rating input').on('change', function () {
                var rating = $(this).val();
                alert('Thank you for your rating: ' + rating + ' stars!');
                // Here, you can send the rating to your server using AJAX or a form submission
            });
        });
    </script>
</body>
</html>
