@model IEnumerable<KHCrafts.Models.Product>
@{
    ViewData["Title"] = "Search Results";
}

<h1>Search Results</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Category</th>
                <th>Is Available</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.Category</td>
                    <td>@product.IsAvailable</td>
                    <td>@product.Price</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No products found.</p>
}